textarea.text-description {
    border-bottom: 2px solid #Ad5001;
    /* My favorite hexe color :P*/
    width: 90%;
    height: 40%;
}

input.text-line {
    margin-bottom: 2%;
    border: none;
    border-bottom: 2px solid #Ad5001;
    width: 90%;
}

input.text-small {
    margin-bottom: 2%;
    border-bottom: 2px solid #Ad5001;
    width: 10%;
}

input.text-first {
    margin-bottom: 2%;
    border: none;
    border-bottom: 2px solid #Ad5001;
    display: inline-block;
    width: 80%;
}

input.text-finish {
    margin-bottom: 2%;
    border-bottom: 2px solid #Ad5001;
    display: inline-block;
    width: 10%;
}

select {
    margin-bottom: 2%;
    width: 90%;
    border-bottom: 2px solid #Ad5001;
}

input[type="file"] {
    margin-bottom: 2%;
    margin-top: 0%;
    display: hidden;
    width: 90%;
}

label input[type="file"] {}