/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */



/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Container */

	body {
		/* min-width: (containers) */
		min-width: 1200px;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		
		/* width: (containers) */
		width: 1200px;
	}

	/* Modifiers */
	
		.container.small {
			/* width: (containers) * 0.75; */
			width: 900px;
		}

		.container.big {
			width: 100%;

			/* max-width: (containers) * 1.25; */
			max-width: 1500px;

			/* min-width: (containers); */
			min-width: 1200px;
		}

/* Grid */

	.\31 2u { width: 100% }
	.\34 u { width: 33.3333333333% }
	.\-4u { margin-left: 25% }

	/* Rows */


		.row:first-child > * {
			padding-top: 0 !important;
		}



		/* Normal */


