bm-font.veranda {
	font-family: veranda;
}
bm-font.ComicSansMS {
	font-family: Comic Sans MS;
}
bm-font.TimesNewRomans{
	font-family: Times New Romans;
}
bm-font.Courrier {
	font-family: Courrier;
}
bm-font.Impact {
	font-family: Impact;
}