bm-font.veranda {
	font-family: veranda;
}
bm-font.ComicSansMS {
	font-family: Comic Sans MS;
}
bm-font.TimesNewRomans{
	font-family: Times New Romans;
}
bm-font.Courrier {
	font-family: Courrier;
}
bm-font.Impact {
	font-family: Impact;
}
bm-color.red {
	color: red;
}
bm-color.blue {
	color: blue;
}
bm-color.yellow {
	color: yellow;
}
bm-color.black {
	color: black;
}
bm-color.green {
	color: green;
}
bm-color.white {
	color: white;
}
bm-color.purple {
	color: purple;
}
bm-size.1 {
	font-size: 10;
}
bm-size.2 {
	font-size: 20;
}
bm-size.3 {
	font-size: 30;
}
bm-size.4 {
	font-size: 40;
}
bm-size.5 {
	font-size: 50;
}
bm-size.6 {
	font-size: 60;
}
bm-size.7 {
	font-size: 70;
}